<div class="container h-100">
  <div class="row justify-content-center align-self-center mt-5 mb-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <h3>Sign Up</h3>
      <form [formGroup]="registrationForm" (ngSubmit)="register(registrationForm)" novalidate>
        <!-- START: Name-->
        <div class="form-group">
          <label>Name</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
          </div>
          <span *ngIf="registerFormSubmitted">
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('name').errors?.required">
              Required field!
            </small>
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('name').errors?.maxlength">
              Max length is 20!
            </small>
          </span>
        </div>
        <!-- END: Name-->
        <!-- START: Surname -->
        <div class="form-group">
          <label>Surname</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" class="form-control" placeholder="Enter surname" formControlName="surname">
          </div>
          <span *ngIf="registerFormSubmitted">
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('surname').errors?.required">
              Required field!
            </small>
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('surname').errors?.maxlength">
              Max length is 20!
            </small>
          </span>
        </div>
        <!-- END: Surname -->
        <!-- START: Username -->
        <div class="form-group">
          <label>Username</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" class="form-control" placeholder="Enter username" formControlName="username">
          </div>
          <span *ngIf="registerFormSubmitted">
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('username').errors?.required">
              Required field!
            </small>
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('username').errors?.minlength">
              Min length is 4!
            </small>
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('username').errors?.maxlength">
              Max length is 10!
            </small>
          </span>
        </div>
        <!-- END: Username -->
        <!-- START: Email -->
        <div class="form-group">
          <label>Email</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
          </div>
          <span *ngIf="registerFormSubmitted">
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('email').errors?.required">
              Required field!
            </small>
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('email').errors?.pattern">
              Invalid email format!
            </small>
          </span>
        </div>
        <!-- END: Email -->
        <!-- START: Password - matching password -->
        <div formGroupName="passwordGroup">
          <div class="form-group">
            <label>Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-key"></i></div>
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>
            <span *ngIf="registerFormSubmitted">
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('passwordGroup.password').errors?.required">
              Required field!
            </small>
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('passwordGroup.password').errors?.minlength">
              Min length is 5!
            </small>
            <small class="form-text input-error"
                   *ngIf="registrationForm.get('passwordGroup.password').errors?.maxlength">
              Max length is 10!
            </small>
          </span>
          </div>
          <div class="form-group">
            <label>Matching password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-key"></i></div>
              <input type="password" class="form-control" placeholder="Matching password" formControlName="matchingPassword">
            </div>
            <span *ngIf="registerFormSubmitted">
                <small class="form-text input-error"
                       *ngIf="registrationForm.get('passwordGroup').errors?.match">
                  Password match false !
                </small>
              </span>
          </div>
        </div>
        <!-- END: Password - matching password -->
        <div class="text-center">
          <button type="submit" [disabled]="registrationInProgress" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <div class="mt-3">Go to <a [routerLink]="'/login'">Login page!</a></div>
    </div>
  </div>
</div>
