<form [formGroup]="profileForm">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="form-group text-center">
        <img [src]="sanitizer.bypassSecurityTrustUrl(authenticatedUser.avatar)"
             onerror="this.src = 'assets/img/no_img.svg'"
             class="img-thumbnail" style="width: 200px; height: 200px">
        <div class="upload-btn-wrapper">
          <button class="btn btn-info">Upload new avatar</button>
          <input type="file" class="form-control" ng2FileSelect
                 [uploader]="avatarFileUploader"
                 (change)="onAvatarChange($event)"
                 accept="image/png,image/gif,image/jpeg"/>
        </div>
        <span *ngIf="avatarFileUploader?.queue?.length">
          <button class="btn btn-danger" [style.color]="'white'"
                  (click)="cancelAvatarChange()">Cancel avatar change
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Surname:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="surname">
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Username:</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" [value]="authenticatedUser.username">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" [value]="authenticatedUser.email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Authority:</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" [value]="authenticatedUser.authorities[0].authority">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-success cursor-pointer" (click)="update(profileForm)">Update</button>
    </div>
  </div>
</form>
