.form-control-plaintext {
  display: block;
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}

.upload-btn-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  button {
    width: 100%;
  }
  input[type=file] {
    position: absolute;
    cursor: pointer;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
