<div class="container h-100">
  <div class="row justify-content-center align-self-center mt-5 mb-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <h3>Sign In</h3>
      <form [formGroup]="loginForm" (submit)="submit(loginForm)">
        <div class="form-group">
          <label>Username</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" class="form-control" placeholder="Enter username"
                   formControlName="username">
          </div>
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
          <label>Password</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <input type="password" class="form-control" placeholder="Password"
                   formControlName="password">
          </div>
          <!--<div class="invalid-feedback">-->
          <!--Please provide a valid city.-->
          <!--</div>-->
          <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
          <!--Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.-->
          <!--</small>-->
        </div>
        <div class="text-center">
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="loginForm.invalid">Submit
          </button>
        </div>
      </form>
      <div class="mt-3">Don't have account? <a [routerLink]="'/registration'">Register here!</a></div>
    </div>
  </div>
</div>
