<h1>Welcome</h1>
<div class="row mt-5">
  <div *ngFor="let animal of animals" class="col-12 col-sm-6 col-md-4 col-lg-4 pb-5">
    <img [src]="animal.imageUrl" width="200" height="200">
    <div><b>{{ animal.name }}</b></div>
  </div>
</div>
