<h2>App Users</h2>
<div class="row mt-4">
  <div class="col-12">
    <table class="table table-responsive">
      <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Enabled</th>
        <th>Roles</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>
          <img [src]="user.avatar" width="100px" height="100px" onerror="this.src = 'assets/img/no_img.svg'">
        </td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td [ngClass]="{'user-enabled': user.enabled, 'user-disabled': !user.enabled}">
          {{user.enabled}}
        </td>
        <td>
          <div *ngFor="let role of user.authorities">
            {{role.authority}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
