<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">MyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/home'" [routerLinkActive]="'active'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/profile'" [routerLinkActive]="'active'">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authenticatedService.isAuthenticatedUserAdmin()"
           [routerLink]="'/users'" [routerLinkActive]="'active'">Users</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/login'">Logout</a>
      </li>
    </ul>
  </div>
</nav>
